SOCKS_PORT=1080
HTTP_PORT=3128
PROXY_BIND_ADDRESS=127.0.0.1
CONFIG_DIR=./config
ACTIVE_CONFIG_FILE=amnezia.conf
VPN_IPV6=true
# For Dokploy, set PROXY_NETWORK_NAME=dokploy-network and PROXY_NETWORK_EXTERNAL=true.
PROXY_NETWORK_NAME=amnezia-proxy
PROXY_NETWORK_EXTERNAL=false
SOCKS5_USER=
SOCKS5_PASSWORD=
HTTP_USER=
HTTP_PASSWORD=
